<data-island x-data="ModalCart({openOnAddToCart: {{ settings.open_modal_on_add_to_cart }}})" x-cloak
  x-init="initTeleport($root);" on="idle">
  <div>
    <template data-should-teleport="#right-drawer-slot">
      <div x-show="$store.modals.rightDrawer.contents === 'cart'"
        class="flex h-screen max-h-full flex-col overflow-hidden"
        :data-modal-label="$store.modals.rightDrawer.contents === 'cart'? '{{ 'cart.general.title' | t }}' : false"
        data-cart-drawer>
        <div class="relative flex items-center justify-between px-section" style="padding: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.1)">
          <h2 class="font-heading text-base lg:text-xl" tabindex="-1">
            {{ 'cart.general.title' | t }}
            <span class="sr-only">
              -
              <span x-text="$store.cart_count.countWithText"></span>
            </span>
          </h2>
          <button @click.prevent="$store.modals.close('cart')" class="flex items-center justify-center" style="
                background-color: #0000000c;
                width: 30px;
                height: 30px;
            ">
            <span class="sr-only">
              {{- 'general.accessibility.close_modal' | t -}}
            </span>
            <span class="inline-block" style="
                width: 33%;
                height: 33%;
                color: #637381;
            ">
              {% render 'icon-close' %}</span>
          </button>
        </div>
        <div class="flex flex-auto flex-col overflow-hidden">
          {% render 'cart-items' %}
          <div id="cart-footer-container" 
               x-cloak
               style="padding: 23px;border-top: 1px solid rgba(0, 0, 0, .1);background-color: #0000000c;">
            <div
              class="pointer-events-none absolute left-0 right-0 top-0 h-16 w-full -translate-y-full bg-gradient-to-t from-scheme-background to-scheme-background-0">
            </div>
            {% render 'cart-footer' %}
          </div>
        </div>
      </div>
    </template>
  </div>

</data-island>